token=<api-token>

# https://theybuyforyou.eu/openopps-api/
openopps.user=<user.name>
openopps.pwd=<user.password>

# https://s3.amazonaws.com/scraper-documents
aws.accessKeyId=<accessKeyId>
aws.secretKey=<secretKeyId>

solr.endpoint=http://localhost:8983/solr/documents